@import "tailwindcss";
body {
  font-family: "Poppins", sans-serif;
  overflow-x: hidden;
}
html {
  scroll-behavior: smooth;
}

html,
body {
  min-width: 0;
}

img,
video,
canvas,
svg {
  max-width: 100%;
}
@keyframes marquee {
  0% { transform: translateX(0%); }
  100% { transform: translateX(-50%); }
}

.animate-marquee {
  display: inline-flex;
  animation: marquee 25s linear infinite;
}

.marquee {
  display: flex;
  white-space: nowrap;
  animation: marquee 25s linear infinite;
}
