@import "tailwindcss";
body {
  font-family: "Poppins", sans-serif;
}
html {
  scroll-behavior: smooth;
}
@keyframes marquee {
  0% { transform: translateX(0%); }
  100% { transform: translateX(-50%); }
}

.animate-marquee {
  display: inline-flex;
  animation: marquee 25s linear infinite;
}

.marquee {
  display: flex;
  white-space: nowrap;
  animation: marquee 25s linear infinite;
}